@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Indie+Flower&display=swap');

:root {
  font: 16px / 1 sans-serif;
}
html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background: rgb(146, 173, 148);
  background: radial-gradient(
    circle,
    rgba(146, 173, 148, 1) 38%,
    rgba(111, 193, 198, 1) 100%
  );
  font-family: 'Akaya Telivigala', cursive;

  font-family: 'Indie Flower', cursive;
}
td {
  background-color: #f5fbef83;
  height: 40px;
  width: 40px;
  color: #2e4756;
  text-align: center;
  box-shadow: 2px 4px;
}
td:hover {
  background-color: #c7ccc2;
}
caption {
  background-color: #92ad94;
  color: #16262e;
}
header {
  font-size: 40px;
  padding: 1rem;
  width: fit-content;
  margin: 10px auto;
  color: #f5fbef;
}
p {
  font-size: 20px;
}
section {
  text-align: center;
}
section button {
  background-color: rgb(111, 193, 198);
  color: #f5fbef;
  font-size: 20px;
  margin-bottom: 10px;
  font-family: 'Akaya Telivigala', cursive;
  font-family: 'Indie Flower', cursive;
}
footer {
  font-size: 40px;
}
aside {
  margin-top: 10px;
}
table {
  border: dotted #f5fbef;
  margin: 0px auto;
}
.flagged {
  font-size: 0px;
  background-image: url(Flower3.png);
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}
.bomb {
  font-size: 0px;
  background-image: url(Raindrop.png);
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
}
.revealed {
  font-size: 0;
  background-image: url(Grass.png);
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
}
.flaggedBomb {
  font-size: 0;
  background-image: url(Ladybug.png);
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
}
