:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background: #92ad94;
}
table,
td {
  border: 1px solid #333;
}
td {
  background-color: #f5fbef;
  height: 30px;
  width: 30px;
  color: #2e4756;
}
table {
  margin: 0px auto;
}
caption {
  background-color: #92ad94;
  color: #16262e;
}
button {
  background-color: #16262e;
  box-shadow: solid #16262e;
  color: #f5fbef;
  font-size: 1rem;
}
